<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.lzyzsd.jsbridge.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Register"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AA"/>
        <activity android:name=".Exercise" />
        <activity android:name=".Info" />
        <activity android:name=".Pressure" />
        <activity android:name=".Sugar" />
        <activity android:name=".Weight" />
        <activity android:name=".Yao" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".MainActivity2"/>
        <activity android:name=".Tixing"/>
        <activity android:name=".Dangan"/>
        <activity android:name=".Me"/>
    </application>

</manifest>
